{% extends 'pastes/base.html' %}


{% block page_title %}
	- New
{% endblock %}


{% block content %}

<form action="{% url 'pastes:save' %}" method="post">
	{% csrf_token %}
	<div>
		<textarea class="scribbles_content_box" name="content"></textarea>
	</div>

	<div class="form_controls">
		<div class="fcontrol">
			<input id="isPrivate" type="checkbox" name="isPrivate" /> <label for="isPrivate">Set as Private</label>
		</div>	
		<div class="fcontrol">
			<label for="pwd">Password (Optional):</label> <input type="password" id="pwd" name="pwd" />
		</div>
		<div class="fcontrol">
			<input type="submit" value="Submit" class="scribbles_submit btn btn-primary" />
		</div>	
	</div>
<form>	

{% endblock %}