{% extends 'pastes/base.html' %}


{% block page_title %}
	- New
{% endblock %}


{% block content %}

<form action="{% url 'pastes:save' %}" method="post">
	{% csrf_token %}
	<div>
		<textarea style="width:90%; height:500px;" name="content"></textarea>
	</div>
	<input id="isPrivate" type="checkbox" name="isPrivate" /><label for="isPrivate">Set as Private</label>
	<br />
	<label for="pwd">Password (Optional)</label> <input type="password" id="pwd" name="pwd" />
	<br />
	<input type="submit" value="Submit" />
<form>	

{% endblock %}