body {

	padding: 20px;
	background: #EEE;

	.scribbles_logo {
		font-family: 'Just Another Hand', cursive; 
		font-size: 80px; 
		padding: 0; 
		margin: 0;
		@media screen and (max-width: 640px) {
			font-size: 60px;
		}
		a {
			color: #551A8B;
			text-decoration: underline;
		}
	}

	.scribbles_content_box {
		width: 100%;
		height: 500px;
	}

	.form_controls {
		.fcontrol {
			margin-top: 5px;
			font-size: 15px;
		}
		.scribbles_submit {
			margin-top: 10px;
		}
	}

	div.permalink {
		margin-bottom: 10px;
	}

	.error {
		color: red;
	}

	pre {
		white-space: pre-wrap;
		word-break: break-word;
	}

}